/* RESETEO PAGINA */
*{
	margin:0;
	padding:0;
	text-decoration:none;
	}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
/* FONTS */

@font-face {
    font-family: 'roboto-black';
    src: url('../font/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto-light';
    src: url('../font/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto-regular';
    src: url('../font/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'federo';
    src: url('../font/Federo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'yanone_kaffeesatzregular';
    src: url('yanonekaffeesatz-regular-webfont.eot');
    src: url('yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('yanonekaffeesatz-regular-webfont.woff2') format('woff2'),
         url('yanonekaffeesatz-regular-webfont.woff') format('woff'),
         url('yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
         url('yanonekaffeesatz-regular-webfont.svg#yanone_kaffeesatzregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'yanone_kaffeesatzbold';
    src: url('yanonekaffeesatz-bold-webfont.eot');
    src: url('yanonekaffeesatz-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('yanonekaffeesatz-bold-webfont.woff2') format('woff2'),
         url('yanonekaffeesatz-bold-webfont.woff') format('woff'),
         url('yanonekaffeesatz-bold-webfont.ttf') format('truetype'),
         url('yanonekaffeesatz-bold-webfont.svg#yanone_kaffeesatzbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yanone_kaffeesatzlight';
    src: url('yanonekaffeesatz-light-webfont.eot');
    src: url('yanonekaffeesatz-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('yanonekaffeesatz-light-webfont.woff2') format('woff2'),
         url('yanonekaffeesatz-light-webfont.woff') format('woff'),
         url('yanonekaffeesatz-light-webfont.ttf') format('truetype'),
         url('yanonekaffeesatz-light-webfont.svg#yanone_kaffeesatzlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/**/
body{
	margin:0;
	padding:0;
	font-family: 'yanone_kaffeesatzregular';
	font-size:1em;
	}
a:hover{
	transition:0.3s;
	-moz-transition:0.3s;
	-ms-transition:0.3s;
	-o-transition:0.3s;
	-webkit-transition:0.3s;
	text-decoration:none !important;
	}	
#cont-general{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	}	
.pos-relative{
	position:relative !important;
	}	
.img-logo-asoprep{
	    width: 12%;
    /*margin: 0 45.5%;*/
    float: left;
	}	
.h1-barragris{
	width:100%;
	float:left;
	background:#333132;
	text-align:center;
	color:#FFF;
	font-size:1.4em;
	padding:5px 0;
	}	
.cont-descarga{
	width:70%;
	margin:0 28%;
	}	
.sec-descarga{
	width:33.3%;
	float:left;
	margin:30px 0;
	}
.sec-descarga img{
	width:50%;
	margin:0 25%;
	}	
.sec-descarga a:link, .sec-descarga a:visited{
	background:#006298;
	color:#FFF;
	padding:7px 30px;
	width:60%;
	float:left;
	clear:both;
	margin:10px 20%;
	text-align:center;
	font-size:1.1em;
	text-decoration:none;
	}	
.sec-descarga a:hover{
	background-color:#0A4159;
	}	
.tit-descarga{
	font-family: 'yanone_kaffeesatzlight';
	font-size:1.2em;
	line-height:1px;
	margin:20px 0;
	}
.tit-descarga font{
	width:100% !important;
	float:left;
	padding:0 15%;
	}		
.tit-descarga h1{
	font-family: 'yanone_kaffeesatzregular';
	font-size:3.5em;
	width:100%;
	float:left;
	}	
/**/
.background-footer{
	/*background-image:url(../images/footter-blue.jpg);
	background-size:cover;
	background-attachment:fixed;*/
	background-color: #001C5F;
	color:#FFF;
	padding:30px 0 30px 0;
	}
.background-footer a{
	color:#FFF !important;
	clear:both;
	width:100%;
	float:left;
	font-family: 'roboto-light';
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
	}	
.background-black{
	background:rgba(0,0,0,0.6);
	text-align:center;
	color:#FFF;
	padding:7px 0;
	margin:30px 0 0 0;	
	}	
/* BOOTSTRAP 5 COLUMNAS */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
   
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.col-sm-3 h1{
		width:100%;
		float:left;
		text-align:left;
		font-size:1.0em;
		text-decoration:none;
		font-family: 'roboto-regular';
		padding:10px 0;
	    margin-top: 0px;
	    font-weight: 400;
	}
/* */
.tit-opciones{
	width:15%;
	background-color:#333132;
	color:#FFF;
	padding:4% 1% 0 1%;
	font-size:2em;
	height:100%;
	position:absolute;
	line-height:1em;
	}			
.cont-buttoms{
	width:85%;
	float:left;
	margin:0 0 0 15%;
	}
.botones-acc{
	width:33.3%;
	float:left;
	position:relative;
	outline: 1px solid #C5C5C5;
	}	
.botones-acc img{
	width:60%;
	float:left; 
	}	
.info-servicios{
	width:40%;
	height:100%;
	position:absolute;
	top:0;
	right:0;
	background-color:#E0E0E0;
	}
.info-servicios h1{
	color:#333132;
	font-size:1.2em;
	padding:10% 2% 0 2%;
	width:96%;
	text-align:center;
	font-family: 'yanone_kaffeesatzbold';
	}	
.info-servicios a:link, .info-servicios a:visited{
	width:30%;
	position:absolute;
	bottom:3%;
	left:35%;
	}	
.info-servicios a img{
	width:100% !important;
	}		
.margins-top{
	margin-top:20px;
	}	
/**/
.margins-top-pg-interna{
	margin-top:7%;
	}
.cont-paginterna{
	width:78%;
	float:left;
	text-align:justify;
	}
.cont-paginterna img{
	float:left;
	width:40%;
	padding: 0 10px 10px 0;
	}
.cont-paginterna h1{
	font-size:2.5em;
	}
.cont-paginterna h2{
	font-size:1.4em;
	margin-top:15px;
	}				
#submenu-interna{
	width:20%;
	background-color:#006298;
	right:0;
	top:0;
	height:100%;
	position:absolute;
	}
#submenu-interna h1{
	background-color:#004062;
	padding:5px 4%;
	font-size:1.5em;
	color:#FFF;
	}	
#submenu-interna ul{
	width:100%;
  margin:10px 0;
	padding:0 4%;
	}	
#submenu-interna ul li{
	width:100%;
	list-style:none;
	border-bottom:1px dashed #FFF;
	padding:4px 2%;
	}	
#submenu-interna ul li:last-child{
	border-bottom:none;
	}
#submenu-interna ul li a:link, #submenu-interna ul li a:visited{
	color:#FFF;
	}	
#submenu-interna ul li:hover{
	background-color:#004062;
	}			
.cont-simuladores{
	width:70%;
	margin:0 15%;
	float:left;
	}
.cont-simuladores img{
	width:30%;
	float:left;
	padding:0 2%;
	}
.cont-calcu{
	width:70%;
	float:left;
	}
.cont-calcu label{
	width:100%;
	float:left;
	}
.cont-calcu input[type="text"]{
	width:100%;
	float:left;
	padding:5px 5%;
	background-color:#FFF;
	border:1px solid #000;
	}
.cont-calcu input[type="submit"], #calc{
	float:right;
	padding:5px 40px;
	background-color:#006298;
	color:#FFF;
	margin:5px 0;
	border:none;
	}	

.fotorama__html div,
.fotorama__html a {
    display: block;
    height: 100%;
    /* Transparent links are not clickable in IE,
       but non-existent background fixes this.
      (Put an empty 1×1 image here to avoid
       errors in console.) */
    background: url(_.gif);
}	
.result-simulator{
	background-color: #006298;
	width: 100%;
	float: left;
	color: #FFF;
	font-size: 1.4em;
	padding: 5px 2%;
	text-align: center;
	opacity: 0;
}					

/*new*/

.hideField {
	display: none !important;
}

.servicio
{
	padding: 1%;
	width: 100%;
	background-color: #001C5F;
	color: white;
}
.servicio span
{
	font-size: 25px;
	font-family: 'federo';
}
.line-center
{
	text-align: center;
	width: 10%;
	border-top: 2px solid white;
}

.line-center-blue
{
	text-align: center;
	width: 10%;
	border-top: 2px solid #001C5F;
}

.servicios-individual
{
	width: 22%;
	text-align: center;
	display: inline-block;
	padding-left: 3%;
	padding-right: 3%;
}

.servicios-individual img
{
	width: 100%;
}

.servicios-individual span
{
	font-size: 25px;
	font-family: 'federo';
	color: #001C5F;
}

.servicios-individual .servicio-content-text
{
	text-align: justify;
}

.servicios-individual .servicio-content-text span
{
	color:#595959;
	font-size: 12px;
}

.vermas
{
	background-color: #001C5F;
	color: white;
	font-size: 12px;
	border: 0px;
	border-radius: 10px;
	padding-left: 2%; 
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 40%;
}
.educacionfinanciera
{
	width: 100%;
}
.educacionfinanciera .column1
{
	width: 50%;
	display: inline-block;
}
.educacionfinanciera .column1 img
{
	width: 100%;
}
.educacionfinanciera .column2
{
	width: 49%;
	display: inline-block;
	padding: 4%;
	vertical-align: top;
	line-height: 25px;
	padding-top: 2%;
}
.educacionfinanciera .column2 div
{
	text-align: justify;
}
.educacionfinanciera .column2 .titulo-plan
{
	color:#595959;
	font-family: 'tahoma';
	font-weight: bold;
}
.educacionfinanciera .column2 .titulo-ef
{
	color: #001C5F;
	font-size: 40px;
	font-family: 'federo';
}
.educacionfinanciera .column2 .title-content
{
	color: #001C5F;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Arial';
}
.educacionfinanciera .column2 .text-content
{
	color: #595959;
	font-size: 12px;
	font-family: 'Arial';
}
.educacionfinanciera .column2 a
{
	color: #001C5F;
	text-decoration: none;
	font-weight: bold;
}
.educacionfinanciera .column2 a:hover
{
	text-decoration: underline !important;
}
.redes-sociales
{
	width: 32px;
}

.educacionfinanciera .column2 .descargas
{
	width: 100%;
	border: 1px solid #001C5F;
	padding: 6px;
}

.dropdown-menu ul
{
	position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}